<h1>Crear Artículo</h1>

<form id="create_posts" method="get" action="<%= posts_create_path %>">
  Titulo: <input name="title">
  <br><br>
  Imagen: <input name="image_url" type="text">
  <br><br>
  Contenido: <textarea name="content"> </textarea>
  <input type="submit" value="Enviar">  
</form>

<p>Find me in app/views/posts/dashboard.html.erb</p>
